.progect-hero {
  background-image: url("./../images/Project/project-bg.jpg");
  margin-top: 66px;
  margin-bottom: 37px;
}



.project-page {
display: none;
  transform: translateY(10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  position: absolute;
  min-height: 100vh;
}

.project-page-active {
  display: block;
  transform: translateY(0);
  position: relative;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.project-page-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 38px;
  margin-bottom: 112px;
}

.project-page__card {
  display: flex;
  flex-direction: column;
}

.project-page__img {
  width: 100%;
  height: auto;
}

.project-page__img {
  max-width: 580px;
  max-height: 700px;

}

.project-page-btn {
  background-color: #f4f0ec;
}

.project-page__info-link {
  position: relative;
  background-color: #f4f0ec;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: 0.5s ease-out;

}


.project-page__info-link::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-top: 2px solid var(--dark);
  border-right: 2px solid var(--dark);
  left: 32%;
  top: 38%;
  transform: rotate(45deg);
}

.project-page__info-link:hover {
  background-color: var(--active-biege);
}

.project-page__info-link:hover::before {
  border-top: 3px solid var(--white);
  border-right: 3px solid var(--white);

}

.project-page__text {
  font-size: 22px;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

/* .tabs-wrapper {
  margin: 0 auto;

  padding: 28px 66px;
  border: 1px solid var(--second-biege);
  border-radius: 18px;
  margin-bottom: 38px;
  max-width: 75%;

} */

.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--second-biege);
  border-radius: 20px;
  margin-bottom: 38px;
  max-width: 800px;
}

.tab {
  width: 100%;
}

.tab__link {
  border: none;
  background-color: transparent;
  text-decoration: none;
  max-width: 220px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.tab__link--active {
  width: 100%;
  background-color: var(--second-biege);
  padding: 26px 51px;
  color: var(--white-text);
  border-radius: 18px;
  transition: color 0.3s ease-in;

}

.pages-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 30%;
  margin-bottom: 235px;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

.page {
  display: block;
  position: relative;
  width: 52px;
  height: 52px;
  border: 1px solid var(--second-biege);
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--dark);
}

.page__link {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease-in;
}

.page__link--active {
  background-color: #f4f0ec;
  border: none;
}

.page__link:hover {
  color: var(--active-biege);
}

/* progect-details  page*/

.project-details {
  background-image: url("./../images/Project/proj-details-bg.jpg");
  margin-top: 66px;
  text-align: center;
  margin-bottom: 100px;
}

.descr-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 42px;
  padding-left: 84px;
  margin-bottom: 114px;
}

.descr-column__left {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.column__item {
  margin-bottom: 20px;
}

.descr-column__name {
  font-family: var(--second-family);
  font-size: 22px;
  letter-spacing: 0.01em;
  color: var(--gray-text);

}

.column-descr__text {
  font-size: 22px;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

.descr-column-right {
  max-width: 658px;
}

.descr-column__title {
  font-size: 50px;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  margin-bottom: 11px;

}

.descr-column__text {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

.descr-column__text p {
  margin-bottom: 30px;
}


.descr-img-wrapper {
  position: relative;

  margin-bottom: 200px;
}

.descr-image__btn {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--white);
  z-index: 999;

}

.descr-image__btn svg {
  width: 37px;
  height: 33px;
}


.descr-image__img {
  width: 100%;
  max-height: 541px;
  border-radius: 100px;
}

/* MODAL */

.modal {
  display: none;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease ,display  0.3s ease ;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);}
 

.modal--active{
  display: flex;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease ,display  0.3s ease ;

}

.modal-content {
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;

}

.modal-close {
  font-size: 50px;
  color: var(--white);
  cursor: pointer;
  margin-bottom: 30px;
}

.slider-modal-wrapper {
  position: relative;
  margin-top: 50%;


}

.slider {
  height: 350px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  overflow: hidden;
  /* scroll-behavior: smooth;
  scroll-snap-type: x mandatory; */

}

.slider-line {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-img {
  flex: 0 0 100%;
  /* Чтобы каждый слайд занимал 100% ширины слайдера */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Обрезает лишнее, но сохраняет пропорции */
}

.btn-modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 4%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;
  background-color: var(--white);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  top: 50%;

}

.btn-modal:active {
  opacity: 1;

}

.btn-modal svg {
  stroke: var(--dark);
  width: 16px;
  height: auto;
  opacity: 0.9;
}

.btn-modal-prev {
  position: absolute;
  content: '';
  left: 0;


}


.btn-modal-next {
  position: absolute;
  content: '';
  right: 0;
}