.project-details-wrapper {
  background-image: url("/images/Project/proj-details-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 356px;
  margin-top: 66px;
  margin-bottom: 118px;
  position: relative;
}

.descr-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 42px;
  padding-left: 84px;
  margin-bottom: 114px;
}

.descr-column__left {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.column__item {
  margin-bottom: 20px;
}

.descr-column__name {
  font-family: var(--second-family);
  font-size: 22px;
  letter-spacing: 0.01em;
  color: var(--gray-text);

}

.column-descr__text {
  font-size: 22px;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

.descr-column-right {
  max-width: 658px;
}

.descr-column__title {
  font-size: 50px;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  margin-bottom: 11px;

}

.descr-column__text {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

.descr-column__text p {
  margin-bottom: 30px;
}


.descr-img-wrapper {
  position: relative;

  margin-bottom: 200px;
}

.descr-image__btn {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--white);
  z-index: 99;

}

.descr-image__btn svg {
  width: 37px;
  height: 33px;
}


.descr-image__img {
  width: 100%;
  max-height: 541px;
  border-radius: 100px;
}