.progect-hero{
background-image: url("./../images/Project/project-bg.jpg");
margin-top: 66px;
margin-bottom: 37px;
}



.project-page {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; 
  position: absolute;
}

.project-page-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  position: relative;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; 


}

.project-page-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 38px;
  margin-bottom: 112px;
}

.project-page__card {
  display: flex;
  flex-direction: column;
}

.project-page__img {
  width: 100%;
  height: auto;
}

.project-page__img {
  max-width: 580px;
  max-height: 700px;

}

.project-page-btn {
  background-color: #f4f0ec;
}

.project-page__info-link {
  position: relative;
  background-color: #f4f0ec;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: 0.5s ease-out;

}


.project-page__info-link::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-top: 2px solid var(--dark);
  border-right: 2px solid var(--dark);
  left: 32%;
  top: 38%;
  transform: rotate(45deg);
}

.project-page__info-link:hover {
  background-color: var(--active-biege);
}

.project-page__info-link:hover::before {
  border-top: 3px solid var(--white);
  border-right: 3px solid var(--white);

}

.project-page__text {
  font-size: 22px;
  letter-spacing: 0.01em;
  color: var(--gray-text);
}

/* .tabs-wrapper {
  margin: 0 auto;

  padding: 28px 66px;
  border: 1px solid var(--second-biege);
  border-radius: 18px;
  margin-bottom: 38px;
  max-width: 75%;

} */

.tabs {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--second-biege);
  border-radius: 18px;
  margin-bottom: 38px;
  max-width: 880px;
}
.tab{
  width: 100%;
}

.tab__link {
  border: none;
  background-color: transparent;
  text-decoration: none;
  max-width: 220px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.tab__link--active {
  background-color: var(--second-biege);
  padding: 26px 61px;
  color: var(--white-text);
  border-radius: 18px;
  transition: color 0.3s ease-in;

}

/* .tab__link:hover {
  color: var(--active-biege);
} */

.pages-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 30%;
  margin-bottom: 235px;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

.page {
  display: block;
  position: relative;
  width: 52px;
  height: 52px;
  border: 1px solid var(--second-biege);
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--dark);
}

.page__link {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease-in;
}

.page__link--active {
  background-color: #f4f0ec;
  border: none;
}

.page__link:hover {
  color: var(--active-biege);
}