html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* img {
  display: block;
  max-width: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02em;
  margin: 0;
}

p {
  margin: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scroll {
  overflow: hidden;
}

.btn-reset {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --white: #fff;
  --white-text: #fff;
  --dark: #292F36;
  --dark-text: #292F36;
  --main-biege: #D8A876;
  --second-biege: #CDA274;
  --active-biege: #C76904;

  --font-family: "Jost", sans-serif;
  --second-family: "DM Serif Display", sans-serif;
  --third-family: "Font Awesome 5 Brands", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "DM Serif Text", sans-serif;
}

.body-page {
  /* overflow-y: hidden; */
  font-family: var(--font-family);
  font-weight: 400;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 18px;
  padding: 27px 48px;
  font-weight: 600;
  font-family: var(--font3);
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: var(--active-biege);
}


.btn--lighte {
  background-color: var(--second-biege);
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);

  color: #fff;
}

.btn--lighte svg {
  margin-left: 10px;
  width: 18px;
  height: 17px;
}

.title--light {
  color: var(--white-text);
}

.title--dark {
  color: var(--dark-text);
}


.header {
  padding-top: 54px;
  padding-bottom: 154px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 10px;
}

.logo__header {
  max-width: 227px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  font-size: 20px;
  color: var(--dark-text);

}

.nav__item--active {
  color: var(--active-biege);
}

.nav__item:hover {
  opacity: 0.7;
}

.header__search {
  position: relative;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.search--active {
  border: 1px solid var(--main-biege);
  border-radius: 20px;
  width: 300px;
}

.search {
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 30px;
  width: 240px;
}

.search .form__input {
  position: relative;

  height: 30px;
  width: 270px;
  left: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.search .form__input input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 20px;
  font-family: var(--font-familyy);
}

.input-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0 10px;
}

.search .search__btn {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 999;
}

.search__btn svg {
  width: 21px;
  height: 21px;
  stroke: #141414;
}

.search__btn:hover {
  opacity: 0.7;
}

/*  ===============MAIN======================== */


.hero__content {
  background-image: url(./../images/hero_bg-2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 95px;
  min-height: 758px;
  width: 100%;
  
  padding-top: 73px;
  padding-left: 25px;
}

.hero__title {
  font-size: 65px;
  max-width: 699px;
  margin-bottom: 9px;
}

.hero__descr {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--white);
  max-width: 470px;
  margin-bottom: 50px;
}

.work {
  padding-top: 95px;
  padding-bottom: 154px;
  max-width: 1158px;
}

.work__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
}

.work__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 358px;
}

.work__title {
  font-size: 25px;
  margin-bottom: 20px;
}

.work__descr {
  text-align: center;
  color: var(--black);
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  margin-bottom: 52px;
}

.work__link {
  display: inline-flex;
  align-items: center;
  color: var(--black);
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  transition: all 0.4s ease;
}

.work__link svg {
  margin-left: 12px;
  fill: var(--black);
}


.work__link:hover {
  color: var(--active-biege);
  transition: all 0.4s ease;
}

.work__link:hover svg {
  fill: var(--active-biege);
  transition: all 0.4s ease;
}

.create__container{
 
 
}

.create-wrapper {
  background-image: url(./../images/create__bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;

}

.create-text{
  padding: 142px 0 0 25px;
  max-width: 385px;


}
.create__title {
  font-size: 55px;
  line-height: 125%;
  color: var(--white-text);
}

.create__descr {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--white-text);
  margin-bottom: 20px;
}

.create__info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 47px;
}

.create__info-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create__info-icon {
  position: relative;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.92);
}

.create__info-icon::before {
  position: absolute;
  content: url(./../images/icons/Call.svg);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}



.create__info-phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--white-text);
}

.create__info-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #fff;
}

.create__btn {
  background-color: var(--second-biege);
  padding: 21px 36px;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  font-family: var(--font3);
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-text);
}

.btn--create {
  background-color: var(--second-biege);
  color: var(--white-text);
  padding: 26px 31px;
}

.btn svg {
  margin-left: 10px;
  width: 18px;
  height: 17px;
}



.opinion {
  padding: 194px 0 188px;
}

.opinion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 30px;
  background-color: var(--main-biege);
  border-radius: 70px;
  height: 100%;
}

.opinion__title {
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.opinion_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1150px;
  margin-top: 38px;
}

.opinion-card {
  display: flex;
  flex-direction: column;
  max-width: 370px;

  background-color: var(--white);
  border-radius: 10px;
  padding: 53px 37px 52px;
}

.card-user {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 23px;
}

.user-photo {
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.20);
}

.user-photo img {
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info__name {
  font-size: 25px;
}

.user-info__adress {
  font-size: 22px;
  color: #4d5053;
}

.opinion-card__text {
  font-size: 18px;
  color: #4d5053;
}

.partners {
  padding-bottom: 202px;
}

.partners-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners-icons svg {
  height: 100%;
}

.follow-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 114px;

}

.follow__title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8px;
}

.follow__descr {
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding-bottom: 10px;
  max-width: 738px;
  text-align: center;
}




.project-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-bottom: 173px;
}

.project__card {
  max-width: 547px;
}

.card__img {
 width: 100%;
 height: auto;
  border-radius: 0 270px 0 0;
}

.card__img img {
  max-width: 547px;
  height: auto;
}

.project__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.info-decr {}

.info-decr__title {
  color: var(--dark-text);
  font-size: 25px;
}

.info-decr__text {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.project__info-link {
  position: relative;
  background-color: var(--main-biege);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: 0.5s ease-out;
}

.project__info-link:hover {
  background-color: var(--active-biege);
}

.project__info-link::before {
  position: absolute;
  content: "";
  left: 22px;
  top: 25px;

  width: 18px;
  height: 18px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

.project__info-btn {
  text-decoration: none;
}

.record-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 76px;

  padding: 151px 64px;

  margin-bottom: 222px;
}

.record-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 10px;
}

.record-item:not(:first-child):before{
  position: absolute;
  content: "";
  bottom: 0;
  left: -76px;
  width: 2px;
  height: 130px;
  background-color: var(--main-biege);



}

.record__number {
  font-family: var(--second-family);
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--second-biege);
}

.record__descr {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
}


.news-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 200px 129px 200px;


}

.news__title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8px;
}

.news__descr {
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding-bottom: 10px;
  max-width: 738px;
  text-align: center;
}