html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* img {
  display: block;
  max-width: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02em;
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scroll {
  overflow: hidden;
}

.btn-reset {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.open {
  display: flex !important;
}

.body-page {
  /* overflow-y: hidden; */
  font-family: var(--font-family);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1250px;
  /* background-color: rgba(62, 57, 94, 0.2); */
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
}

.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 18px;
  padding: 27px 48px;
  font-weight: 600;
  font-family: var(--font3);
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: var(--active-biege);
}


.btn--lighte {
  background-color: var(--second-biege);
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  color: #fff;
}

.btn--dark {
  background-color: var(--dark);
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  color: #fff;

}

.btn--lighte svg {
  margin-left: 10px;
  width: 18px;
  height: 17px;
}

.title--light {
  color: var(--white-text);
}

.title--dark {
  color: var(--dark-text);
}


.burger {
  position: relative;
  cursor: pointer;
  display: flex;
  border: none;
  background-color: transparent;
  z-index: 50;
  width: 30px;
  height: 35px;

}

.burger__line {
  position: absolute;
  right: 0;

  height: 2px;
  width: 100%;
  background-color: var(--dark);
}

.burger__line::before {
  position: absolute;
  content: '';
  right: 0;
  top: 12px;
  height: 2px;
  width: 100%;
  background-color: var(--dark);
  transition: all 0.3s ease 0s;
}

.burger__line::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 12px;
  height: 2px;
  width: 100%;
  background-color: var(--dark);
  transition: all 0.3s ease 0s;
}


.burger[aria-expanded="true"] .burger__line{
  height: 0;
}

.burger[aria-expanded="true"] .burger__line::before {
  top: 0;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger[aria-expanded="true"] .burger__line::after {
  bottom: 0;
  transform: rotate(45deg) translate(0, 50%);
}


.header {
  padding-top: 54px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 10px;
}

.logo__header {
  max-width: 227px;
}
.logo__header img{
  width: 100%;
  height: 100%;

}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  font-size: 20px;
  color: var(--dark-text);

}

.nav__item--active {
  color: var(--active-biege);
}

.nav__item:hover {
  opacity: 0.7;
}

.header__search {
  position: relative;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.search--active {
  border: 1px solid var(--main-biege);
  border-radius: 20px;
  width: 300px;
}

.search {
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 30px;
  width: 240px;
}

.search .form__input {
  position: relative;

  height: 30px;
  width: 270px;
  left: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.search .form__input input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 20px;
  font-family: var(--font-familyy);
}

.input-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0 10px;
}

.search .search__btn {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}

.search__btn svg {
  width: 21px;
  height: 21px;
  stroke: #141414;
}

.search__btn:hover {
  opacity: 0.7;
}

/*  ===============MAIN======================== */
.hero{
  padding-top: 154px;

}

.hero__content {
  background-image: url(./../images/hero_bg-2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 95px;
  min-height: 758px;
  width: 100%;

  padding-top: 73px;
  padding-left: 25px;
}

.hero__title {
  font-size: 65px;
  max-width: 699px;
  margin-bottom: 9px;
}

.hero__descr {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--white);
  max-width: 470px;
  margin-bottom: 50px;
}

.work {
  padding-top: 95px;
  padding-bottom: 154px;
}

.work__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1158px;

}

.work__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 358px;
}

.work__title {
  font-size: 25px;
  margin-bottom: 20px;
}

.work__descr {
  text-align: center;
  color: var(--black);
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  margin-bottom: 52px;
}

.work__link {
  display: inline-flex;
  align-items: center;
  color: var(--black);
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  transition: all 0.4s ease;
}

.work__link svg {
  margin-left: 12px;
  fill: var(--black);
}


.work__link:hover {
  color: var(--active-biege);
  transition: all 0.4s ease;
}

.work__link:hover svg {
  fill: var(--active-biege);
  transition: all 0.4s ease;
}


.create-wrapper {
  background-image: url(./../images/create__bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;

}

.create-text {
  padding: 142px 0 0 25px;
  max-width: 385px;
}

.create__title {
  font-size: 55px;
  color: var(--white-text);
}

.create__descr {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--white-text);
  margin-bottom: 20px;
}

.create__info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 47px;
}

.create__info-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create__info-icon {
  position: relative;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.92);
}

.create__info-icon::before {
  position: absolute;
  content: url(./../images/icons/Call.svg);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}



.create__info-phone {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: var(--white-text);
}

.create__info-text {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.01em;
  color: #fff;
}

.create__btn {
  background-color: var(--second-biege);
  padding: 21px 36px;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  font-family: var(--font3);
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-text);
}

.btn--create {
  background-color: var(--second-biege);
  color: var(--white-text);
  padding: 26px 31px;
}

.btn svg {
  margin-left: 10px;
  width: 18px;
  height: 17px;
}



.opinion {
  padding: 194px 0 188px;
}

.opinion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 30px;
  background-color: var(--main-biege);
  border-radius: 70px;
  width: 100%;
  height: 100%;
}

.opinion__title {
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.opinion_cards {
  display: flex;
  gap: 20px;
  max-width: 1160px;
  margin-top: 38px;
}

.opinion-card {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: var(--white);
  border-radius: 10px;
  padding: 53px 37px 52px;
}

.card-user {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 23px;
}

.user-photo {
  border-radius: 50%;
}

.user-photo img {}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info__name {
  font-size: 25px;
}

.user-info__adress {
  font-size: 22px;
  color: #4d5053;
}

.opinion-card__text {
  font-size: 18px;
  color: #4d5053;
}


.partners {
  padding-bottom: 202px;
}

.partners-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.partners-icons img{
  max-width: 150px; /* Максимальный размер */
  min-width: 50px; /* Минимальный размер, чтобы не исчезали */
  height: auto; /* Сохранение пропорций */
  transition: width 0.3s ease; /* Плавное изменение размера */
  
}


.follow-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 114px;

}

.follow__title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8px;
}

.follow__descr {
  color: var(--gray-text);
  font-size: 28px;
  letter-spacing: 0.01em;
  padding-bottom: 10px;
  max-width: 738px;
  text-align: center;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 116px;
  row-gap: 32px;
}

.project__card {
  display: flex;
  flex-direction: column;
}


.card__img {
  width: 100%;
  height: auto;
  border-radius: 0 270px 0 0;
}

.card__img img {
  max-width: 100%;
  height: auto;
}

.project__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.info-decr__title {
  color: var(--dark-text);
  font-size: 25px;
}

.info-decr__text {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.project__info-link {
  position: relative;
  background-color: var(--main-biege);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: 0.5s ease-out;
}

.circle--btn:hover {
  background-color: var(--active-biege);
}

.project__info-link::before {
  position: absolute;
  content: "";
  left: 22px;
  top: 25px;

  width: 18px;
  height: 18px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

.project__info-link {
  text-decoration: none;
}

.record-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 151px 64px;
}

.record-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 10px;
}

.record__number {
  font-family: var(--second-family);
  font-size: 85px;
  letter-spacing: 0.02em;
  color: var(--second-biege);
}

.record__descr {
  font-size: 22px;
  letter-spacing: 0.01em;
  color: #4d5053;
}


.news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 129px;

}

.news__title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8px;
}

.news__descr {
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding-bottom: 10px;
  max-width: 738px;
  text-align: center;
}


.article-wrapper {
  display: flex;
 
  gap: 27px;
  margin-bottom: 119px;
}

.article-card {
  max-width: 382px;
  border: 1px solid #E7E7E7;
  padding: 21px;
  border-radius: 62px;
}

.article-card:hover {
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
  background: #f4f0ec;
}

.article-img {
  max-width: 340px;

  position: relative;
  border-radius: 45px 45px 0 0;
  margin-bottom: 21px;
}


.article-card__img {
  width: 100%;
  height: auto;
  border-radius: 45px 45px 0 0;
  max-width: 340px;


}

.article-card__img img {
  max-width: 340px;
  height: auto;
}



.article-cart__room {
  position: absolute;
  content: "";
  left: 10%;
  top: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 11px;
  color: var(--white-text);
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}


.article-card__title {
  max-width: 305px;
  font-size: 25px;
  margin-bottom: 30px;
}

.article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.article-info>time {
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4d5053;
}

.article__info-link {
  position: relative;
  background-color: var(--main-biege);
  border-radius: 50%;
  width: 51px;
  height: 51px;
  transition: 0.5s ease-out;

}

.article__info-link::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 19px;

  width: 13px;
  height: 13px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

.join {
  background-image: url(./../images/join-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 430px;
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
}

.join-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.join__title {
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 11px;
}

.join__text {
  color: var(--white-text);
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  margin-bottom: 32px;
}

.join__btn {
  background-color: var(--second-biege);
  padding: 26px 37px;
  display: block;
  color: var(--white-text);
  box-shadow: 0 10px 20px 0 #1f2022;
}

.footer{
  margin-top: auto;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  gap: 15px;
  margin-bottom: 138px;
}

.footer__logo {
  display: block;
  margin-bottom: 18px;
}

.footer__social {
  max-width: 393px;
}



.footer-title {
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--dark-text);
  margin-bottom: 18px;
}

.footer__social-text {
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;

}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 54px;
}

.footer__icon svg {
  fill: var(--dark);
  height: 22px;
  width: 100%;
  transition: fill 0.3s ease-in;
}

.footer__icon svg:hover {
  fill: var(--active-biege);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  max-width: 393px;
}



.footer-pages {
  display: flex;
  flex-direction: column;
}

.footer-pages__list {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.footer-services__list {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.footer-contact {
  max-width: 258px;
}

.footer-pages__item {
  margin-bottom: 3.125rem;
  transition: color 0.3s ease-in;
}

.footer-pages__item:hover {
  color: var(--active-biege);
}

.footer-services__item {
  margin-bottom: 3.125rem;
  transition: color 0.2s ease-in;
}

.footer-services__item:hover {
  color: var(--active-biege);
}

.footer-contact address {
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.footer-adress p {
  margin-bottom: 3.125rem;
}

.footer-adress a {
  display: block;
  cursor: pointer;
  margin-bottom: 3.125rem;
}

.footer-copyright {
  font-size: 22px;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
  margin-bottom: 15px;

}