@media (max-width: 1000px) {
  .hero {
    padding-top: 74px;
  }

  .hero__content {
    min-height: 554px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__descr {
    font-size: 20px;

  }

  .btn {
    padding: 24px 38px;
  }

  .record__number {
    font-size: 65px;

  }

  .record__descr {
    font-size: 20px;
    letter-spacing: 0.01em;
  }

  .opinion__title {
    font-size: 45px;
  }

  .opinion_cards {
    display: flex;
    flex-wrap: wrap;
  }

  .opinion-card {
    padding: 32px 37px 40px;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    margin-bottom: 88px;

  }

}


@media (max-width: 800px) {

  .nav_list {
    font-size: 20px;
  }

  .hero__title {
    font-size: 45px;
    max-width: 628px;
    margin-bottom: 5px;
  }

  .hero__descr {
    margin-bottom: 35px;
  }

  .hero__content {
    min-height: 450px;
    margin-bottom: 35px;
  }

  .work__title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .work__descr {
    font-size: 20px;
    margin-bottom: 38px;
  }

  .work {
    padding-bottom: 125px;
  }

  .create-text {
    padding: 75px 0 0 25px;
  }

  .create__title {
    font-size: 50px;
  }

  .create__info-icon {
    width: 83px;
    height: 83px;
  }

  .create__info-phone {
    font-size: 22px;
  }

  .create-wrapper {
    min-height: 620px;
  }

  .opinion {
    padding: 136px 0 143px;
  }

  .opinion__title {
    font-size: 45px;
  }

  .opinion_cards {
    display: flex;
    flex-wrap: wrap;
  }

  .opinion-card {
    padding: 32px 37px 40px;
  }

  .card-user {
    gap: 16px;
    margin-bottom: 14px;
  }

  .partners {
    padding-bottom: 124px;
  }

  .follow__title {
    font-size: 45px;
  }

  .follow__descr {
    font-size: 24px;
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
  }

  .news__title {
    font-size: 45px;
  }

  .news__descr {
    font-size: 24px;
  }

  .article-card__title {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .article-wrapper {
    gap: 16px;
  }

  .join__title {
    font-size: 45px;
    margin-top: 68px;
    margin-bottom: 8px;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    margin-bottom: 88px;

  }

  .footer__social {
    max-width: 304px;
  }

  .footer-copyright {
    font-size: 20px;
  }

}

@media (max-width: 750px) {
  .hero {
    padding-top: 50px;
  }

  .work__title {
    margin-bottom: 10px;
  }

  .work__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
  }

  .work {
    padding-bottom: 88px;
    padding-top: 48px;
  }

  .work__descr {
    margin-bottom: 24px;
  }

  .opinion__title {
    font-size: 40px;
  }

  .partners-icons {
    row-gap: 30px;
  }

  .follow__title {
    font-size: 40px;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
  }

  .record-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 120px 64px;
  }

  .article-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }

  .join__title {
    font-size: 40px;
  }

  .join__text {
    font-size: 20px;
  }

  .footer-wrapper {
    justify-content: space-around;
  }

  .footer__social-text {
    text-align: center;
    font-size: 20px;
  }

  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
  }

  .footer-services__list {
    font-size: 20px;
  }

  .footer-pages__list {
    font-size: 20px;
  }

  .footer-services__item {
    margin-bottom: 2.125rem;
  }

  .footer-pages__item {
    margin-bottom: 2.125rem;
  }

  .footer-contact {
    align-items: center;
  }

  .footer-adress p {
    text-align: center;
  }

}

@media (max-width: 750px) {
  .btn {
    padding: 20px 30px;
  }

  .hero__content {
    padding-top: 34px;
    margin-bottom: 5px;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__descr {
    font-size: 20px;
  }

  .create-wrapper {
    min-height: 502px;
  }

  .create-text {
    padding: 36px 0 0 25px;
  }

  .create__title {
    font-size: 40px;
  }

  .create__descr {
    font-size: 20px;
  }

  .opinion {
    padding: 110px 0 132px;
  }
  .opinion__wrapper {
    padding: 46px 22px;
    border-radius: 56px;
  }
  .opinion_cards {
    margin-bottom: 30px;
}
  .opinion__title {
    font-size: 35px;
  }

  .user-info__name {
    font-size: 22px;
  }

  .user-info__adress {
    font-size: 18px;
  }

  .partners {
    padding-bottom: 90px;
  }

  .follow-wrapper {
    padding-bottom: 86px;
  }

  .follow__title {
    font-size: 35px;
  }

  .follow__descr {
    font-size: 20px;
  }

  .project-wrapper {
    margin-bottom: 100px;
  }

  .card__img {
    width: 100%;
    height: auto;
    border-radius: 0 214px 0 0;
  }

  .project__info-link {
    width: 65px;
    height: 65px;
  }

  .project__info-link::before {
    left: 20px;
    top: 23px;
  }

  .info-decr__title {
    font-size: 22px;
  }

  .info-decr__text {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
  }

  .record__number {
    font-size: 35px;
  }

  .record__descr {
    font-size: 18px;
  }

  .record-wrapper {
    display: none;
  }

  .join__title {
    font-size: 35px;
  }

  .join__text {
    font-size: 18px;
  }

  .footer-contact address {
    text-align: center;
  }

  .footer-copyright {
    font-size: 16px;
  }


}